@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --text-2xs: 0.6875rem;
}

@import "./affordances.css";
@import "./rsvp.css";

turbo-cable-stream-source {
  display: contents;
}
