<%= multiple_choice_card(multiple_choice) do %>
  <p class="text-base">
    <%= multiple_choice.question %>
  </p>
  <ul class="space-y-2">
    <% multiple_choice.options.each_with_index do |option, i| %>
      <li>
        <%= multiple_choice_card_option(i, option) %>
      </li>
    <% end %>
  </ul>
  <%= card_actions(submit_button("cards--multiple-choice"), reveal: "cards--reveal#show cards--multiple-choice#check") %>
<% end %>
