<table class="w-full text-sm text-white/80">
  <thead>
    <tr>
      <% comparison.columns.each do |c| %>
        <th class="text-left text-xs font-mono uppercase tracking-wide text-white/40 pb-2">
          <%= c %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% comparison.rows.each do |row| %>
      <tr class="border-t border-white/10">
        <% comparison.columns.each do |c| %>
          <td class="py-2 pr-4">
            <%= row[c] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
