<% content_for :title, "Remember" %>

<ol class="space-y-20">
  <li class="hidden last:block text-white/60 italic">Nothing due. Come back later.</li>
  <% @due_cards.each do |card| %><li id="<%= dom_id(card) %>"><%= render card %></li><% end %>
</ol>
