<div class="px-8 py-12 max-w-3xl mx-auto space-y-6">
  <header>
    <h1 class="text-2xl font-medium">Due today</h1>
  </header>

  <ol class="space-y-20">
    <li class="hidden last:block text-white/60 italic">Nothing due. Come back later.</li>
    <% @due_cards.each do |card| %><li id="<%= dom_id(card) %>"><%= render card %></li><% end %>
  </ol>
</div>
