<div class="p-4">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl font-bold">Your Books</h1>
    <%= link_to "Upload  Book", new_upload_path, class: "bg-gray-950 text-white px-4 py-2 hover:bg-gray-950/83" %>
  </div>

  <% if @uploads.any? %>
    <div class="space-y-4">
      <% @uploads.each do |upload| %>
        <%= render "upload", upload: upload %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center py-12 text-gray-500">
      <p class="mb-4">No books uploaded yet.</p>
      <%= link_to "Upload your first book", new_upload_path, class: "text-blue-600 hover:underline" %>
    </div>
  <% end %>
</div>
