<!DOCTYPE html>
<html lang="en" class="scheme-only-dark">
  <%= render "layouts/head" %>

  <body class="min-h-dvh bg-black text-white antialiased">
    <main class="isolate">
      <%= link_to root_path, class: "app-logo absolute top-4 left-1/2 -translate-x-1/2 size-10" do %>
        <%= image_tag "logo.jpeg", alt: "Learn Logo" %>
      <% end %>

      <div class="max-w-3xl mx-auto px-6 py-12 sm:py-16">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
