<!DOCTYPE html>
<html lang="en" class="scheme-only-dark">
  <%= render "layouts/head" %>

  <body class="min-h-dvh bg-black text-white antialiased">
    <main class="isolate">
      <%= yield %>
    </main>
  </body>
</html>
